h1{
 font-family: "Times New Roman", Times, serif;
 color: darkblue;
 font-size: 3.1em;
}


body{
	background-color: beige;
}

.row{
	margin-top:20px;
}

.border{
 border-radius: 50%;
}
